<body class="text-white">
<center>
<h1> Contact </h1>
<p >  email : joshuanspada@hotmail.fr </p>
<p>      linkedin : <a class ="text-white" href="https://www.linkedin.com/in/joshuan-spada-9b5559a2/"><h3>Joshuan Spada Thomé</h3></a> </p>
